/* Begin of Section for visualization purposes
It can be deleted */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  background-color: var(--clr-rating-very-dark-blue);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* End of Section for visualization purposes*/

:root {
  --clr-rating-orange: hsl(25, 97%, 53%);
  --clr-rating-white: hsl(0, 0%, 100%);
  --clr-rating-light-grey: hsl(217, 12%, 63%);
  --clr-rating-medium-grey: hsl(216, 12%, 54%);
  --clr-rating-dark-blue: hsl(213, 19%, 18%);
  --clr-rating-very-dark-blue: hsl(216, 12%, 8%);

  --fw-400: 400;
  --fw-700: 700;

  font-size: 15px;
}

input,
button {
  font: inherit;
}

.rating-component h1 {
  font-size: 1.825em;
}

.rating-component {
  min-height: 22em;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  width: min(85%, 25em);
  margin-inline: auto;
}

.rating-component .state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  padding: 1.8em;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    hsl(215, 20%, 16%),
    hsl(215, 27%, 12%)
  );
  border-radius: 2em;
  box-shadow: 0px 10px 25px hsl(216, 12%, 7%);
  color: var(--clr-rating-white);
}

.rating-component #rating img {
  display: block;
  width: 3em;
  height: 3em;
  background-color: var(--clr-rating-dark-blue);
  padding: 1em;
  border-radius: 50%;
}

.rating-component #rating form {
  display: grid;
  grid-template-rows: 3em 3em;
  gap: 1.8em;
}

.rating-component #rating form .select-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rating-component #rating form .select-rating > * {
  aspect-ratio: 1 / 1;
  position: relative;
}

.rating-component #rating form .select-rating label input {
  width: 100%;
  height: 100%;
  appearance: none;
  border-radius: 50%;
  /* cursor: pointer; */
}

.rating-component #rating form .select-rating label span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--clr-rating-dark-blue);
  color: var(--clr-rating-medium-grey);
  font-weight: var(--fw-700);
}

.rating-component #rating form .select-rating label input:hover + span {
  background-color: var(--clr-rating-light-grey);
  color: var(--clr-rating-white);
}

.rating-component #rating form .select-rating label input:checked + span {
  background-color: var(--clr-rating-orange);
  color: var(--clr-rating-white);
}

.rating-component #rating form .btn-submit-rating {
  cursor: pointer;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  border: none;
  border-radius: 3em;
  background-color: var(--clr-rating-orange);
  color: inherit;
  font-weight: var(--fw-700);
}

.rating-component #rating form .btn-submit-rating:hover {
  background-color: var(--clr-rating-white);
  color: var(--clr-rating-orange);
}

.rating-component #thank-you {
  display: none;
}
